 * {
            margin: 0;
            padding: 0;
        }

        body {
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container {
            width: 300px;
            max-width: 50vw;
            height: 40vh;
            border: 2px solid black;
            display: flex;
            align-items: center;
            padding: 10px;
            flex-direction: column;
            border-radius: 20px;

        }

        .box {
            width: 100%;
            height: 15%;
            border: 2px solid black;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 5px
        }

        .box input {
            width: 100%;
            height: 100%;
            border: none;
            background: none;
            padding: 5px;
        }

        .box img {
            cursor: pointer;
        }

        .box input:focus {
            outline: none;
        }

        button {
            position: relative;
            bottom: -50px;
            font-size: 1.1rem;
            font-weight: 600;
            background-color: rgb(65, 222, 13);
            color: white;
            border-radius: 11px;
            width: 80px;
            height: 30px;
            border: none;
        }
        button:active {
            background-color: darkgray;
        }